.edit-place-form {
  padding: 1rem;
  background-color: #eee;
  margin: 1rem auto;
  width: 35rem;
  height: 36vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 25px;
}

.edit-place-form input,
.edit-place-form textarea {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
  width: 100%;
}

.edit-place-form input:focus,
.edit-place-form textarea:focus {
  border: 1px solid #86f56f;
}

.edit-place-form button {
  width: 12rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4cbd35;
}

.edit-place-form button:hover {
  opacity: 0.7;
}

.edit-place-form small {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 500px) {
  .edit-place-form {
    width: 38rem;
    height: 85vh;
  }
  
  .edit-place-form input,
  .edit-place-form textarea {
    font-size: 2rem;
    padding: 2rem;
    height: 15vh;
  }
  
  .edit-place-form button {
    padding: 2rem 1rem;
    font-size: 1.5rem;
  }
  
  .edit-place-form small {
    font-size: 22px;
  }
}